<!DOCTYPE html>
<html lang="pt-br" ng-app="Galeria">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Galeria</title>

    <link rel="stylesheet" href="dist/main.css">
    <script src="dist/frameworks.min.js"></script>
    <script src="dist/application.min.js"></script>
  </head>
  <body ng-controller="ApplicationController">
    <header id="header" ng-class="{ open: menuOpen }">
      <div class="container clearfix">
        <a href="#" class="logo">
          <img src="assets/images/logo.png">
        </a>
        <ul class="menu">
          <li ng-repeat="nav in navItems">
            <a ng-href="{{ nav.path }}">{{ nav.text }}</a>
          </li>
        </ul>
        <button class="nav-toggle" ng-click="toggleMenu()" 
          ng-class="{ active: menuOpen }">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </header>

    <section id="home" ng-controller="HomeController">
      <div class="slider-arrows"></div>
      <div class="home-carousel" ng-show="carouselItems">
        <div class="carousel-mask"></div>
        <slick settings="carouselSettings">
          <div class="slide-item" ng-repeat="item in carouselItems" 
            ng-click="goToSlide($index)">
            <span class="slide-item-row">
              <span class="slide-item-image">
                <img class="img-responsive" ng-src="{{ item.image }}" 
                  alt="{{ item.title }}">
              </span>
              <span class="slide-item-info">
                <h3 class="title">{{ item.title }}</h3>
                <p class="description">{{ item.description }}</p>
                
                <span class="reference">Lote: {{ item.reference }}</span>
                <span class="value">{{ item.value | brCurrency }}</span>

                <a ng-href="{{ item.path }}" class="btn btn-primary" 
                  ng-hide="item.isSold">Ver lote</a>
                <button class="btn btn-disabled" disabled 
                  ng-show="item.isSold">Lote vendido</button>
                <a href="#" class="btn-like fa fa-gratipay" ng-hide="item.isSold"></a>
              </span>
            </span>
          </div>
        </slick>
      </div>  

      <div class="home-mosaic container">
        <h3 class="section-title clearfix">
          475 lotes neste leilão <span class="title-plus">+21 lotes extras</span>
          <span class="views-count">
            <i class="fa fa-eye"></i> 4310
          </span>
        </h3>
        <div class="cols">
          <div class="card-item" ng-repeat="card in cardItems">
            <a ng-href="{{ card.path }}" class="card-item-container" 
              ng-click="showImage(card.image)">
              <img class="card-image" ng-src="{{ card.image }}" alt="{{ card.title }}">
              <h3 class="card-title">{{ card.title }}</h3>
              <p class="card-description">{{ card.description }}</p>
            </a>
          </div>
        </div>
      </div>

      <div class="home-more-items container">
        <span class="loading-box" ng-show="!itemsLoaded">
          <img class="loading" src="assets/images/ajax-loader.gif">
        </span>
        <slick settings="moreItemsCarouselSettings" ng-if="itemsLoaded">
          <div class="slide-item" ng-repeat="item in moreItems" 
            ng-click="showImage(item.url)">
            <img class="slide-item-image" ng-src="{{ item.thumbnailUrl }}" 
              alt="{{ item.title }}">
            <span class="title-container">
              <h3 class="title">{{ item.title }}</h3>
            </span>
          </div>
        </slick>
      </div>

      <modal target="show-image">
        <img class="img-responsive" ng-show="currentImageModal" 
          ng-src="{{ currentImageModal }}">
      </modal>
    </section>
  </body>
</html>
