#home {
  .section-title {
    font-size: 26px;
    line-height: 26px;
    color: #777;
    @include font(titilliumweb_light);
  }

  .home-carousel {
    width: 100%;
    min-height: 550px;
    background: #000;
    position: relative;
    overflow: hidden;

    .carousel-mask {
      display: block;
      width: 110%;
      height: 110%;
      left: -5%;
      top: -5%;
      position: absolute;
      zoom: 1;
      background-position: center;
      @include opacity(0.5);
      @include background-size(cover);

      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }

    .slick-slider {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    }

    .slide-item-image,
    .slide-item-info {
      display: table-cell;
      vertical-align: middle;
      padding: 5% 0;
    }

    .slide-item-row { display: table-row; }

    .slide-item {
      outline: none;
      color: #fff;
      cursor: pointer;
      display: table;
      @include transition();
      @include opacity(0.3);

      &:hover { @include opacity(1); }

      &.slick-current {
        cursor: inherit;
        @include opacity(1);
      }
    }

    .slide-item-image {
      width: 45%;
      height: auto;
      vertical-align: bottom;

      .img-responsive { @include drop-shadow(0, 4px, 10px, 0.3); }
    }

    .slide-item-info {
      width: 55%;
      padding-left: 5%;
      padding-right: 5%;
      text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);

      .title {
        font-size: 26px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 15px;
      }

      .reference {
        display: block;
      }

      .value {
        display: block;
        margin-bottom: 15px;
        font-size: 20px;
        @include font(lato_bold);
      }

      .btn {
        float: left;
        text-shadow: none;
      }

      .btn-like {
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
        float: left;
        @include transition();

        &:hover {
          color: #e74c3c;
          @include scale(1.1);
        }
      }
    }
  }

  .home-mosaic {
    position: relative;
    padding-bottom: 0;

    .cols {
      column-count: 3;
      column-gap: 0;
    }

    .section-title {
      margin: 30px 0;
      .title-plus {
        color: $primaryColor;
      }

      .views-count {
        display: inline-block;
        float: right;
        font-size: 0.7em;
      }
    }
  }

  .home-more-items {
    background: #fff;
    padding: 30px;
    margin: 60px auto;

    .slick-prev:before, .slick-next:before {
      color: #777;
      @include transition();
    }

    .slick-next {
      right: -22px;
    }

    .slick-prev {
      left: -23px;
    }

    .slide-item-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .title-container {
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      background: rgba(0,0,0, 0.5);
      padding: 20px;
      display: block;
      @include transition(0.15s, ease);
      @include scale(1.5);
      @include opacity(0);

      .title {
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        @include font(titilliumweb_light);
      }
    }

    .slide-item {
      position: relative;
      outline: none;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        .title-container {
          @include scale(1);
          @include opacity(1);
        }
      }
    }
  }
}

#show-image {
  .img-responsive {
    border: 5px solid #fff;
    @include box-shadow(0 0 10px 0 rgba(0,0,0, 0.3));
  }
}

@media screen and (max-width: $tablet-width) {
  #home {
    .home-carousel {
      .slide-item {
        padding: 0 25px;
      }
    }

    .home-mosaic {
      .cols {
        column-count: 2;
        column-gap: 0;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  #home {
    .home-carousel {
      height: 100%;

      .slick-slider {
        padding: 100px 0 25px 0;
        position: static;
      }

      .slide-item { display: block; }

      .slide-item-row { display: block; }

      .slide-item-image,
      .slide-item-info {
        display: block;
        padding: 0;
        @include responsive();
      }

      .slide-item-image { margin-bottom: 20px; }
      .slide-item-info { padding-left: 0; }
    }

    .home-mosaic {
      .cols {
        column-count: 1;
        column-gap: 0;
      }

      .section-title {
        font-size: 22px;
        line-height: 28px;

        .title-plus { display: block; }

        .views-count { margin-top: -40px; }
      }
    }

    .home-more-items {
      margin: 10% auto;

      .slick-next,
      .slick-prev {
        top: 142px;
      }

      .title-container {
        width: 100%;
        height: auto;
        position: static;
        padding: 0;
        margin-top: 15px;
        background: none;
        @include opacity(1);
        @include scale(1);

        .title {
          color: inherit;
        }
      }
    }
  }
}
