// Grid
@mixin clearfix() {
  *zoom:1;

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  @include clearfix();
}

.col {
  float: left;
  margin-left: 2.6666666666666665%;

  &.full {
    width: 100%;
  }

  &.two-thirds {
    width: 65.77777777777779%;
  }

  &.half {
    width: 47.5%;
    margin-left: 5%;
  }

  &.one-third {
    width: 31.555555555555557%;
  }

  &.one-fourth {
    width: 23%;
  }

  &:first-child {
    margin-left: 0;
  }
}

.row {
  @include clearfix();
}

@media screen and (max-width: 640px) {
  .col.full,
  .col.two-thirds,
  .col.half,
  .col.one-third,
  .col.one-fourth {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 2.6666666666666665%;
  }
}
