#header {
  min-width: 100%;
  position: absolute;
  z-index: 999;
  padding: 25px 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(34,34,34,1) 0%,rgba(34,34,34,1) 0%,rgba(34,34,34,0) 100%);
  @include transition();

  .logo {
    float: left;
    width: 172px;
    display: block;
    @include transition();

    img {
      width: 100%;
      height: auto;
    }
  }

  &.scrolling,
  &.open {
    padding: 10px 0;
    background: #222;
    position: fixed;
    @include drop-shadow(0, 4px, 10px, 0.3);

    .logo { 
      width: 120px; 

      img { @include opacity(1); }
    }

    .menu {
      margin-top: 1px;
    }

    .nav-toggle {
      right: 5%;
      top: 10px;
    }
  }

  .menu {
    margin: 8px 0 0 0;
    padding: 0;
    float: right;

    li {
      float: left;
      font-size: 16px;
      list-style: none;
      text-transform: uppercase;
      @include font(titilliumweb_semibold);
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 4px 10px;
      display: inline-block;
      @include transition();
      @include rounded(4px);
    }

    li.active a,
    li.current-menu-item a,
    li.current-menu-parent a,
    a:hover {
      color: $primaryColor;
    }
  }
}

.icon-bar {
  display: block;
  margin: 5px 0;
  width: 40px;
  height: 5px;
  background-color: $primaryColor;
  @include transition(.25s, ease-in-out);
}

.nav-toggle {
  padding: 0;
  width: 40px;
  min-height: 35px;
  position: fixed;
  right: 5%;
  top: 30px;
  border: 0;
  display: none;
  z-index: 99999;
  background: transparent;
  outline: none;

  &.active {
    .icon-bar {
      position: absolute;
      top: 40px;

      &:nth-child(1) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        @include opacity(0);
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  #header {
    &.open {
      .menu {
        display: block;
      }

      .nav-toggle {
        &.active {
          top: -10px;
        }
      }
    }

    .menu {
      clear: both;
      float: none;
      padding: 20px 0;
      display: none;
      @include clearfix();

      > ul {
        width: 100%;
        margin: 1.4em 0 0 0;
      }

      li {
        float: none;
        margin: 0;

        a {
          display: block;
          padding: 15px 10px;
        }
      }
    }

    .container {
      max-width: 90%;
    }
  }

  .nav-toggle {
    display: block;
  }
}
