.btn {
  display: inline-block;
  margin-bottom: 0;
  color: $baseColor;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  background-color: #ecf0f1;
  font-size: 16px;
  line-height: 1em;
  padding: 15px 25px;
  text-transform: uppercase;
  @include rounded(4px);
  @include transition();
  @include font(titilliumweb_bold);

  .fa { @include transition() }

  &:hover {
    background-color: #ddd;

    .fa {
      @include scale(1.2);
    }
  }
}

.btn-primary {
  color: #fff;
  background-color: $primaryColor;

  &:hover {
    background-color: darken($primaryColor, 5%);
  }
}

.btn-primary-border {
  color: #fff;
  background: transparent;
  border: 2px solid $primaryColor;

  &:hover {
    background: $primaryColor;
    color: #fff;
  }
}

.btn-light {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}

.btn-primary-light {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  background: none;

  &:hover {
    color: #fff;
    background-color: $primaryColor;
  }
}

.btn-action {
    color: #fff;
    background-color: $primaryColor;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);

    &:hover {
        background-color: darken($primaryColor, 15%);
    }
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-large {
  font-size: 18px;
  padding: 25px 40px;
}

@media screen and (max-width: $mobile-width) {
  .btn {
    font-size: 14px;
    padding: 16px 25px;
  }
}
