.card-item {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  padding: 5px;

  &:hover { 
    .card-item-container {
      background: $primaryColor;  

      .card-title { color: #fff; }
      .card-description { color: #fff8d7; }
    }
  }
}

.card-item-container {
  padding: 10px;
  background: #fff;
  display: block;
  @include transition();
  @include rounded(4px);
}

.card-image {
  max-width: 100%;
  height: auto;
  display: block;
  @include transition();
}

.card-title {
  font-size: 22px;
  line-height: 26px;
  display: block;
  padding: 5% 5% 0 5%;
}

.card-description {
  display: block;
  padding: 5%;
}
