.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  text-align: center;

  .img-responsive {
    max-height: 600px;
  }
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0, 0.8);
}

.modal-content {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 5% 0 0 0;
  z-index: 2;
}

.modal-close {
  position: absolute;
  right: 3%;
  top: 5%;
  color: #fff;
  z-index: 3;
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: right;
  cursor: pointer;
  @include transition();
  @include opacity(0.7);

  &:hover { @include opacity(1); }
}

@media screen and (max-width: $mobile-width) {
  .modal-content {
    padding: 0;
  } 

  .modal-close {
    right: 25px;
    top: 25px;
    text-shadow: 2px 2px 0 rgba(0,0,0, 0.5);
    @include opacity(0.7);
  }
}
