@font-face {
  font-family: 'lato_bold';
  src: url('#{$assets}/fonts/lato-bold.woff2') format('woff2'),
       url('#{$assets}/fonts/lato-bold.svg#lato_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato_light';
  src: url('#{$assets}/fonts/lato-light.woff2') format('woff2'),
       url('#{$assets}/fonts/lato-light.svg#lato_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato_regular';
  src: url('#{$assets}/fonts/lato-regular.woff2') format('woff2'),
       url('#{$assets}/fonts/lato-regular.svg#lato_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb_bold';
  src: url('#{$assets}/fonts/titilliumweb-bold.woff2') format('woff2'),
       url('#{$assets}/fonts/titilliumweb-bold.svg#titilliumweb_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb_light';
  src: url('#{$assets}/fonts/titilliumweb-light.woff2') format('woff2'),
       url('#{$assets}/fonts/titilliumweb-light.svg#titilliumweb_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb_regular';
  src: url('#{$assets}/fonts/titilliumweb-regular.woff2') format('woff2'),
       url('#{$assets}/fonts/titilliumweb-regular.svg#titilliumweb_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb_semibold';
  src: url('#{$assets}/fonts/titilliumweb-semibold.woff2') format('woff2'),
       url('#{$assets}/fonts/titilliumweb-semibold.svg#titilliumweb_semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
