* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

// Base
html, body {
    height: 100%;
}

body {
  background: #ecf0f1;
  color: $baseColor;
  font-size: 16px;
  @include font(lato_regular);
}

p {
  line-height: 22px;
  margin: 0 0 25px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

strong, b {
  @include font(opensans_bold);
}

a img { border: 0; }

a {
  text-decoration: none;
  color: $secondaryColor;
}

a:hover { text-decoration: none; }

small { font-size: 0.857em; }

h1,h2,h3,h4,h5,h6 {
  color: #2a2a2a;
  padding: 0;
  margin: 0;
  @include font(titilliumweb_bold);
}

.text-center { text-align: center; }

.text-left { text-align: left; }

.pull-left { float: left; }

.pull-right { float: right; }

ul {
  margin: 0;
  padding: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

// Backgrounds sprites
.wp-pagenavi {
  text-align: left;
  font-size: 14px;
  padding-bottom: 30px;
  @include clearfix();

  a,
  span {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 3px 10px;
    margin: 2px;
  }

  a:hover,
  span.current {
    border-color: $primaryColor;
    background-color: $primaryColor;
    color: #fff !important;
  }
}

@media screen and (max-width: $mobile-width) {
  .section-title {
    font-size: 34px;
    line-height: 40px;

    .subtitle {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

object[type^="application/gas-events-"] {
  display: none;
}
